<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Amzn</title>
  </head>
  <body>
    <h1>Welcome to Amazon...no really</h1>
    <form method='post' action='/checkout'>
      <p>Enter An Item To Checkout <input type='text'name='item'></p>
      <input type='submit' id='submit'>
    </form>
  </body>
</html>
